$font-stack: 'Lato', 'Trebuchet MS', Arial, sans-serif;

$primary-color: #183642;
// $secondary-color: #12aae8;
$secondary-color: #ff5200;
$tertiary-color: #FFD200;

$primary-background-color: #fff;
$secondary-background-color: #eee;

$text-color-light: #fff;
$text-color-dark: #183642;