#hero-section {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: $primary-background-color;

    #hero-section-content {
        width: 800px;
        color: $primary-color;

        h1 {
            line-height: 0.5;

            #name {
                font-size: 1.5em;
                color: $secondary-color;
                background: linear-gradient(0deg, #ff5200 25%, #183642 60%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        #intro {
            margin-top: 50px;
            font-weight: 400;
        }

        #call-to-action {
            margin-top: 100px;

            .call-to-action-button {
                margin-right: 20px;
                width: 200px;
                text-align: center;
                @include set-bg-color($secondary-color);
                @extend %btn;
                font-size: 30px;
                text-decoration: none;

                &:hover {
                    @include set-bg-color(darken($secondary-color, 15%));
                }
            }
        }
    }

    #grid {
        display: grid;
        grid-template: repeat(20, 1fr) / repeat(20, 1fr);
        height: 800px;
        width: 800px;
        color: $primary-color;

        &:hover {
            cursor: url('/public/paintbrush_white_cursor.svg'), pointer;
        }

        .cell {
            width: 40px;
            height: 100%;
            border: 1px solid rgba(128, 128, 128, 0);
            color: rgba(128, 128, 128, 0);
            z-index: 1;
        }

        @for $index from 0 through 19 {
            .cell:nth-child(20n + #{$index + 1}):hover~#base-layer {
                --positionX: #{$index};
            }

            .cell:nth-child(n + #{20 * $index + 1}):nth-child(-n + #{20 * ($index + 1)}):hover~#base-layer {
                --positionY: #{$index};
            }
        }

        #base-layer {
            --positionX: 0;
            --positionY: 0;

            position: absolute;
            width: inherit;
            height: inherit;
            background: url('/public/portrait-sketch.png');
            background-size: 120%;
            background-position: center 75%;
            background-repeat: no-repeat;

            #mask-layer {
                position: absolute;
                background: url('/public/portrait-color.png');
                background-size: 120%;
                background-position: center 75%;
                height: inherit;
                width: inherit;
                mask-image: url('/public/cursor-mask.svg');
                -webkit-mask-image: url('/public/cursor-mask.svg');
                mask-size: 200px 200px;
                mask-repeat: no-repeat;
                mask-position: calc(var(--positionX) * 5.27%) calc(var(--positionY) * 5.27%);
                transition: all 0.25s ease-out;
            }
        }
    }
}