.main-section {
    margin: 100px 50px;
    padding-top: 50px;

    .main-section-content {
        margin-top: 50px;
        padding: 50px;
        background-color: $primary-background-color;
        border-radius: 10px;
    }

    .main-section-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            height: 70px;
            color: $primary-color;
            background: linear-gradient(0deg, #ff5200 25%, #183642 60%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}