.main-section {
    margin-top: 100px;

    .main-section-content {
        margin-top: 50px;
    }

    .main-section-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            height: 70px;
            color: $primary-color;
            border-bottom: 25px solid $secondary-color;
        }
    }
}