.main-section-container {
    background: linear-gradient(0deg, $secondary-background-color 25%, $primary-background-color 60%);

    .main-section {
        max-width: $tv-width;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4.3rem;
        padding-left: 1rem;
        padding-right: 1rem;

        // border: 1px solid #eee; // GUIDE

        .main-section-title {
            margin-bottom: 3rem;
            width: 100%;

            h2 {
                margin: 0rem auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 30rem;
                color: $primary-color;
                font-size: 3rem;

                &::after,
                &::before {
                    content: '';
                    width: 6.25rem;
                    height: 0.3rem;
                    border-radius: 0.6rem;
                    background-color: $secondary-color;
                }
            }
        }

        .main-section-content {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media (max-width: $tv-width) {
            max-width: $desktop-width;
        }

        @media (max-width: $desktop-width) {
            max-width: $laptop-width;
        }

        @media (max-width: $laptop-width) {
            max-width: $tablet-width;
        }

        @media (max-width: $tablet-width) {
            max-width: $mobile-width;

            .main-section-title {
    
                h2 {
                    max-width: 20rem;
                    font-size: 2rem;
    
                    &::after,
                    &::before {
                        content: '';
                        width: 4.2rem;
                        height: 0.2rem;
                    }
                }
            }
        }

        @media (max-width: $mobile-width) {
            max-width: 100%;

            .main-section-title {
                margin-bottom: 1rem;
    
                h2 {
                    max-width: 16rem;
                    font-size: 1.5rem;
    
                    &::after,
                    &::before {
                        content: '';
                        width: 4rem;
                        height: 0.2rem;
                    }
                }
            }
        }
    }
}