#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;

    #nav-logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 0px;
        height: inherit;

        font-size: 35px;
        font-weight: 800;
        color: $secondary-color;
    }

    #nav-links {
        width: 0px;
        flex-grow: 1;

        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
            }

            a {
                padding: 2px;
                color: inherit;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 5px solid $secondary-color;
                    transform: scaleX(0);
                    transition: 0.2s;
                }

                &:hover:after {
                    margin-bottom: 5px;
                    transform: scaleX(1);
                }


                &:visited {
                    text-decoration: none;
                }
            }
        }
    }

    #light-mode-switch {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0px 10px;
        width: 0px;
    }
}