* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  body {
    background-color: $primary-background-color;

    #app {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
}