#navigation {
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 3rem;
    box-sizing: content-box;
    background-color: $primary-background-color;
    border-bottom: 0rem solid $secondary-color;
    box-shadow: none;
    z-index: 2;
    transition: 0.2s;

    #nav-logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        width: 0rem;
        height: inherit;
        font-size: 2.2rem;
        font-weight: 800;
        color: $primary-color;
        background: linear-gradient(0deg, $secondary-color 25%, $primary-color 60%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        a::before {
            position: absolute;
            content: '';
            background-color: $secondary-color;

            &:hover {
                cursor: pointer;
                color: $secondary-color;
                background: linear-gradient(0deg, $secondary-color 1005%, $primary-color 60%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }

    #nav-links {
        width: 0rem;
        flex-grow: 1;

        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5rem;
            }

            a {
                color: inherit;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    color: $secondary-color;
                }

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 0.3rem solid $secondary-color;
                    transform: scaleX(0);
                    transition: 0.2s;
                }

                &:hover:after {
                    margin-bottom: 0.3rem;
                    transform: scaleX(1);
                }


                &:visited {
                    text-decoration: none;
                }
            }
        }
    }

    #light-mode-switch {
        width: 0rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
    }
}