* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #fff;
}

* {
  font-family: "Lato", "Trebuchet MS", Arial, sans-serif;
  line-height: 1.5;
}

p {
  line-height: 1.75;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 8px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#navigation {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  box-sizing: content-box;
  background-color: #fff;
  border-bottom: 0px solid #ff5200;
  box-shadow: none;
  z-index: 2;
  transition: 0.2s;
}
#navigation #nav-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 0px;
  height: inherit;
  font-size: 35px;
  font-weight: 800;
  color: #183642;
  background: linear-gradient(0deg, #ff5200 25%, #183642 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}
#navigation #nav-logo a::before {
  position: absolute;
  content: "";
  background-color: #ff5200;
}
#navigation #nav-logo a::before:hover {
  cursor: pointer;
  color: #ff5200;
  background: linear-gradient(0deg, #ff5200 1005%, #183642 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#navigation #nav-links {
  width: 0px;
  flex-grow: 1;
}
#navigation #nav-links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
#navigation #nav-links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
#navigation #nav-links ul a {
  padding: 2px;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}
#navigation #nav-links ul a:hover {
  color: #ff5200;
}
#navigation #nav-links ul a:after {
  display: block;
  content: "";
  border-bottom: 5px solid #ff5200;
  transform: scaleX(0);
  transition: 0.2s;
}
#navigation #nav-links ul a:hover:after {
  margin-bottom: 5px;
  transform: scaleX(1);
}
#navigation #nav-links ul a:visited {
  text-decoration: none;
}
#navigation #light-mode-switch {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  width: 0px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  background-color: #333;
  color: #fff;
}

#hero-section {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background-color: #fff;
}
#hero-section #hero-section-content {
  width: 800px;
  color: #183642;
}
#hero-section #hero-section-content h1 {
  line-height: 0.5;
}
#hero-section #hero-section-content h1 #name {
  font-size: 1.5em;
  color: #ff5200;
  background: linear-gradient(0deg, #ff5200 25%, #183642 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero-section #hero-section-content #intro {
  margin-top: 50px;
  font-weight: 400;
}
#hero-section #hero-section-content #call-to-action {
  margin-top: 100px;
}
#hero-section #hero-section-content #call-to-action .call-to-action-button {
  margin-right: 20px;
  width: 200px;
  text-align: center;
  background-color: #ff5200;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}
#hero-section #hero-section-content #call-to-action .call-to-action-button:hover {
  background-color: #b33900;
  color: #fff;
}
#hero-section #grid {
  display: grid;
  grid-template: repeat(20, 1fr)/repeat(20, 1fr);
  height: 800px;
  width: 800px;
  color: #183642;
}
#hero-section #grid:hover {
  cursor: url("/public/paintbrush_color_cursor.png"), pointer;
}
#hero-section #grid .cell {
  width: 40px;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0);
  color: rgba(128, 128, 128, 0);
  z-index: 1;
}
#hero-section #grid .cell:nth-child(20n+1):hover ~ #base-layer {
  --positionX: 0;
}
#hero-section #grid .cell:nth-child(n+1):nth-child(-n+20):hover ~ #base-layer {
  --positionY: 0;
}
#hero-section #grid .cell:nth-child(20n+2):hover ~ #base-layer {
  --positionX: 1;
}
#hero-section #grid .cell:nth-child(n+21):nth-child(-n+40):hover ~ #base-layer {
  --positionY: 1;
}
#hero-section #grid .cell:nth-child(20n+3):hover ~ #base-layer {
  --positionX: 2;
}
#hero-section #grid .cell:nth-child(n+41):nth-child(-n+60):hover ~ #base-layer {
  --positionY: 2;
}
#hero-section #grid .cell:nth-child(20n+4):hover ~ #base-layer {
  --positionX: 3;
}
#hero-section #grid .cell:nth-child(n+61):nth-child(-n+80):hover ~ #base-layer {
  --positionY: 3;
}
#hero-section #grid .cell:nth-child(20n+5):hover ~ #base-layer {
  --positionX: 4;
}
#hero-section #grid .cell:nth-child(n+81):nth-child(-n+100):hover ~ #base-layer {
  --positionY: 4;
}
#hero-section #grid .cell:nth-child(20n+6):hover ~ #base-layer {
  --positionX: 5;
}
#hero-section #grid .cell:nth-child(n+101):nth-child(-n+120):hover ~ #base-layer {
  --positionY: 5;
}
#hero-section #grid .cell:nth-child(20n+7):hover ~ #base-layer {
  --positionX: 6;
}
#hero-section #grid .cell:nth-child(n+121):nth-child(-n+140):hover ~ #base-layer {
  --positionY: 6;
}
#hero-section #grid .cell:nth-child(20n+8):hover ~ #base-layer {
  --positionX: 7;
}
#hero-section #grid .cell:nth-child(n+141):nth-child(-n+160):hover ~ #base-layer {
  --positionY: 7;
}
#hero-section #grid .cell:nth-child(20n+9):hover ~ #base-layer {
  --positionX: 8;
}
#hero-section #grid .cell:nth-child(n+161):nth-child(-n+180):hover ~ #base-layer {
  --positionY: 8;
}
#hero-section #grid .cell:nth-child(20n+10):hover ~ #base-layer {
  --positionX: 9;
}
#hero-section #grid .cell:nth-child(n+181):nth-child(-n+200):hover ~ #base-layer {
  --positionY: 9;
}
#hero-section #grid .cell:nth-child(20n+11):hover ~ #base-layer {
  --positionX: 10;
}
#hero-section #grid .cell:nth-child(n+201):nth-child(-n+220):hover ~ #base-layer {
  --positionY: 10;
}
#hero-section #grid .cell:nth-child(20n+12):hover ~ #base-layer {
  --positionX: 11;
}
#hero-section #grid .cell:nth-child(n+221):nth-child(-n+240):hover ~ #base-layer {
  --positionY: 11;
}
#hero-section #grid .cell:nth-child(20n+13):hover ~ #base-layer {
  --positionX: 12;
}
#hero-section #grid .cell:nth-child(n+241):nth-child(-n+260):hover ~ #base-layer {
  --positionY: 12;
}
#hero-section #grid .cell:nth-child(20n+14):hover ~ #base-layer {
  --positionX: 13;
}
#hero-section #grid .cell:nth-child(n+261):nth-child(-n+280):hover ~ #base-layer {
  --positionY: 13;
}
#hero-section #grid .cell:nth-child(20n+15):hover ~ #base-layer {
  --positionX: 14;
}
#hero-section #grid .cell:nth-child(n+281):nth-child(-n+300):hover ~ #base-layer {
  --positionY: 14;
}
#hero-section #grid .cell:nth-child(20n+16):hover ~ #base-layer {
  --positionX: 15;
}
#hero-section #grid .cell:nth-child(n+301):nth-child(-n+320):hover ~ #base-layer {
  --positionY: 15;
}
#hero-section #grid .cell:nth-child(20n+17):hover ~ #base-layer {
  --positionX: 16;
}
#hero-section #grid .cell:nth-child(n+321):nth-child(-n+340):hover ~ #base-layer {
  --positionY: 16;
}
#hero-section #grid .cell:nth-child(20n+18):hover ~ #base-layer {
  --positionX: 17;
}
#hero-section #grid .cell:nth-child(n+341):nth-child(-n+360):hover ~ #base-layer {
  --positionY: 17;
}
#hero-section #grid .cell:nth-child(20n+19):hover ~ #base-layer {
  --positionX: 18;
}
#hero-section #grid .cell:nth-child(n+361):nth-child(-n+380):hover ~ #base-layer {
  --positionY: 18;
}
#hero-section #grid .cell:nth-child(20n+20):hover ~ #base-layer {
  --positionX: 19;
}
#hero-section #grid .cell:nth-child(n+381):nth-child(-n+400):hover ~ #base-layer {
  --positionY: 19;
}
#hero-section #grid #base-layer {
  --positionX: 0;
  --positionY: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  background: url("/public/portrait-sketch.png");
  background-size: 120%;
  background-position: center 75%;
  background-repeat: no-repeat;
}
#hero-section #grid #base-layer #mask-layer {
  position: absolute;
  background: url("/public/portrait-color.png");
  background-size: 120%;
  background-position: center 75%;
  height: inherit;
  width: inherit;
  mask-image: url("/public/cursor-mask.svg");
  -webkit-mask-image: url("/public/cursor-mask.svg");
  mask-size: 200px 200px;
  mask-repeat: no-repeat;
  mask-position: calc(var(--positionX) * 5.27%) calc(var(--positionY) * 5.27%);
  transition: all 0.25s ease-out;
}

.main-section {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, #f7f7f7 25%, #fff 60%);
}
.main-section .main-section-title {
  margin-bottom: 50px;
  width: 100%;
}
.main-section .main-section-title h2 {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  color: #183642;
}
.main-section .main-section-title h2::after, .main-section .main-section-title h2::before {
  content: "";
  width: 100px;
  height: 5px;
  border-radius: 10px;
  background-color: #ff5200;
}
.main-section .main-section-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1500px;
}

#project-container {
  display: flex;
  flex-direction: column;
}
#project-container .project-content {
  padding: 25px;
  height: 500px;
  display: flex;
  justify-content: center;
}
#project-container .project-content .project-image {
  width: 600px;
}
#project-container .project-content .project-image .laptop-image {
  width: inherit;
  height: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
#project-container .project-content .project-image .laptop-image .desktop-image {
  width: inherit;
  height: inherit;
  background-size: 403px auto;
  background-position: 97px 86px;
  background-repeat: no-repeat;
}
#project-container .project-content .project-info {
  padding: 10px 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #183642;
}
#project-container .project-content .project-info .project-description {
  font-size: 20px;
}
#project-container .project-content .project-info .project-tech-stack {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#project-container .project-content .project-info .project-tech-stack .tech-stack-item {
  margin: 15px 20px;
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #ddd;
  transition: 0.2s ease-out;
}
#project-container .project-content .project-info .project-tech-stack .tech-stack-item .tech-stack-popup {
  opacity: 0;
  position: relative;
  bottom: 18px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  font-weight: 600;
  transition: 1.5s ease-out;
}
#project-container .project-content .project-info .project-tech-stack .tech-stack-item:hover {
  transform: scale(1.1);
}
#project-container .project-content .project-info .project-tech-stack .tech-stack-item:hover .tech-stack-popup {
  opacity: 1;
}
#project-container .project-content .project-info .project-button-prompts {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
#project-container .project-content .project-info .project-button-prompts .project-button {
  border: 2px solid #183642;
  color: #183642;
  font-weight: 800;
}
#project-container .project-content .project-info .project-button-prompts .project-button:hover {
  background-color: #2c647a;
  color: #fff;
}

#about-container {
  margin: 0px auto;
  display: flex;
  font-size: 24px;
}
#about-container #about-image {
  height: 650px;
  width: auto;
  background-color: #f7f7f7;
  border-radius: 10px;
}
#about-container #about-content {
  padding: 0px 30px;
}

#skills-container {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#skills-container .skills-category {
  padding: 40px;
  border-radius: 80px;
  background-color: #fff;
  box-shadow: 0px 0px 50px 0px #ddd;
}
#skills-container .skills-category h3 {
  text-align: center;
  font-weight: 300;
}
#skills-container .skills-category .skills-grid {
  padding: 30px 0px;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}
#skills-container .skills-category .skills-grid .skill-cell {
  display: flex;
  justify-content: center;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #183642;
  border-radius: 50px;
  background-color: #183642;
  color: #fff;
  transition: 0.5s;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip .skill-icon {
  opacity: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip .skill-name {
  font-weight: 800;
  text-align: center;
  transition: 0.5s;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip:hover {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip:hover .skill-icon {
  opacity: 1;
  border: 1px solid #ff5200;
  border-radius: 50px;
}
#skills-container .skills-category .skills-grid .skill-cell .skill-chip:hover .skill-name {
  opacity: 0;
}

#hero-section #hero-section-content #call-to-action .call-to-action-button, #project-container .project-content .project-info .project-button-prompts .project-button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
}
#hero-section #hero-section-content #call-to-action .call-to-action-button .button-content, #project-container .project-content .project-info .project-button-prompts .project-button .button-content {
  display: flex;
  align-items: center;
}
#hero-section #hero-section-content #call-to-action .call-to-action-button:hover, #project-container .project-content .project-info .project-button-prompts .project-button:hover {
  cursor: pointer;
  box-shadow: none;
  transform: scale(0.98);
}

#home {
  flex-grow: 1;
}/*# sourceMappingURL=main.css.map */