#about-section {
    margin: 0rem auto;
    display: flex;
    font-size: 1.5rem;

    #about-image {
        height: 40rem;
        width: auto;
        background-color: $secondary-background-color;
        border-radius: 0.6rem;
    }

    #about-content {
        padding: 0rem 2rem;
    }
}