#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50rem;

    #hero-section-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
        width: 40rem;
        color: $primary-color;

        #greeting {
            font-family: $font-stack;
            line-height: 0.5;
            font-size: 3rem;

            #name {
                font-family: 'Bungee Shade';
                font-size: 4rem;
                color: $secondary-color;
                background: linear-gradient(0deg, #ff5200 25%, #183642 60%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        #intro {
            font-size: 1.5rem;
        }

        #call-to-action {
            display: flex;
            padding: 3rem 0rem;

            .call-to-action-button {
                margin-right: 1.25rem;
                width: 12.5rem;
                text-align: center;
                @include set-bg-color($secondary-color);
                @extend %btn;
                font-size: 1.8rem;
                text-decoration: none;

                &:hover {
                    @include set-bg-color(darken($secondary-color, 15%));
                }
            }
        }
    }

    #grid {
        display: grid;
        grid-template: repeat(20, 1fr) / repeat(20, 1fr);
        height: 50rem;
        width: 50rem;
        color: $primary-color;

        &:hover {
            cursor: url('/public/paintbrush_color_cursor.png'), pointer;
        }

        .cell {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(128, 128, 128, 0);
            color: rgba(128, 128, 128, 0);
            z-index: 1;
        }

        @for $index from 0 through 19 {
            .cell:nth-child(20n + #{$index + 1}):hover~#top-layer {
                --positionX: #{$index};
            }

            .cell:nth-child(n + #{20 * $index + 1}):nth-child(-n + #{20 * ($index + 1)}):hover~#top-layer {
                --positionY: #{$index};
            }
        }

        #top-layer {
            --positionX: 0;
            --positionY: 0;

            position: absolute;
            width: inherit;
            height: inherit;
            background: url('/public/portrait-sketch.png'); // sketch
            background-size: 120%;
            background-position: center 75%;
            background-repeat: no-repeat;

            #bottom-layer {
                position: absolute;
                background: url('/public/portrait-color.png');
                background-size: 120%;
                background-position: center 75%;
                height: inherit;
                width: inherit;
                mask-image: url('/public/cursor-mask.svg');
                -webkit-mask-image: url('/public/cursor-mask.svg');
                mask-size: 12.5rem;
                mask-repeat: no-repeat;
                mask-position: calc(var(--positionX) * 5.27%) calc(var(--positionY) * 5.27%);
                transition: all 0.25s ease-out;
            }
        }
    }

    @media (max-width: $tv-width) {
        height: 40rem;

        #hero-section-content {
            height: 80%;
            width: 35rem;

            #greeting {
                font-size: 2.9rem;
            }

            #intro {
                font-size: 1.3rem;
            }

            #call-to-action {
                padding: 2rem 0rem;

                .call-to-action-button {
                    font-size: 1.5rem;
                }
            }
        }

        #grid {
            height: 40rem;
            width: 40rem;
        }
    }

    @media (max-width: $desktop-width) {
        height: auto;
        flex-direction: column;

        #hero-section-content {
            height: 40rem;
            width: 40rem;

            #greeting {
                text-align: center;
            }

            #intro {
                text-align: center;
            }

            #call-to-action {
                justify-content: center;

                .call-to-action-button {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media (max-width: $laptop-width) {
        #hero-section-content {

            #greeting {}

            #intro {}

            #call-to-action {

                .call-to-action-button {}
            }
        }

        #grid {

            .cell {}

            #top-layer {

                #bottom-layer {}
            }
        }
    }

    @media (max-width: $tablet-width) {

        #hero-section-content {
            height: 40rem;
            width: 100%;

            #greeting {
                font-size: 2rem;

                #name {
                    font-size: 3rem;
                }
            }

            #intro {
                font-size: 1.2rem;
            }

            #call-to-action {

                .call-to-action-button {
                    font-size: 1.2rem;
                }
            }
        }

        #grid {
            width: 28rem;
            height: 28rem;

            #top-layer {

                #bottom-layer {
                    mask-size: 8.5rem;
                }
            }
        }
    }

    @media (max-width: $mobile-width) {

        #hero-section-content {
            height: 35rem;

            #greeting {
                font-size: 1.5rem;

                #name {
                    line-height: normal;
                    font-size: 2.2rem;
                }
            }

            #intro {
                font-size: 1rem;
            }

            #call-to-action {

                .call-to-action-button {
                    font-size: 0.8rem;
                }
            }
        }

        #grid {
            width: 20rem;
            height: 20rem;

            #top-layer {

                #bottom-layer {
                    mask-size: 6rem;
                }
            }
        }
    }
}