#projects-section {
    display: flex;
    flex-direction: column;

    .project-content {
        padding: 2rem;
        height: 30rem;
        display: flex;
        justify-content: space-evenly;

        .project-image {
            width: 38rem;

            .laptop-image {
                width: inherit;
                height: 100%;
                background-size: 100%;
                background-position: center center;
                background-repeat: no-repeat;

                .desktop-image {
                    width: inherit;
                    height: inherit;
                    background-size: 25.5rem auto;
                    background-position: 6.2rem 6.2rem;
                    background-repeat: no-repeat;
                }
            }
        }

        .project-info {
            width: 38rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: $primary-color;

            .project-name {
                font-size: 2rem;
            }

            .project-description {
                font-size: 1.25rem;
            }

            .project-tech-stack {
                width: 18.75rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .tech-stack-item {
                    margin: 0.9rem 1.25rem;
                    width: 3.5rem;
                    height: 3.5rem;
                    background-size: 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 0.6rem;
                    box-shadow: 0rem 0rem 0.9rem 0rem #ddd;
                    transition: 0.2s ease-out;

                    .tech-stack-popup {
                        opacity: 0;
                        position: relative;
                        bottom: 1.5rem;
                        white-space: nowrap;
                        display: flex;
                        justify-content: center;
                        font-weight: 600;
                        transition: 1.5s ease-out;
                    }

                    &:hover {
                        transform: scale(1.1);

                        .tech-stack-popup {
                            opacity: 1;
                        }
                    }
                }
            }

            .project-button-prompts {
                width: 25rem;
                display: flex;
                justify-content: space-between;

                .project-button {
                    @extend %btn;
                    border: 2px solid $primary-color;
                    color: $primary-color;
                    font-weight: 800;


                    &:hover {
                        @include set-bg-color(lighten($primary-color, 15%));
                    }
                }
            }
        }
    }
}